<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar *ngIf = "categoryImage"> 
         <img [src] = "categoryImage"> 
      </div>
      <mat-card-title>{{category}}</mat-card-title>
      <mat-card-subtitle>classification result</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{classifyService.doc}}
      </p>
      <mat-form-field>
        <!-- <mat-label>{{category}}</mat-label> -->
        <mat-select [(ngModel)] = "classResult" name = "classResult" >
          <mat-option *ngFor="let c of classify" [(value)]="c.value" >
            {{c.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)=add()>Save</button>
    </mat-card-actions>
  </mat-card>

