<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                Login to your account
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" class="formControl" placeholder="Username" #userName required>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput type="password" class="formControl" placeholder="Password" #userPassword required>
                </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="SignIn(userName.value, userPassword.value)">
                Log In
            </button>
        </mat-card-actions>
        <mat-card-footer>
            <a routerLink="/forgot-password">Forgot Password?</a>
            <br>
            <span>Don't have an account?<a routerLink="/signup"> Sign Up</a></span>
        </mat-card-footer>
    </mat-card>
</div>
