<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf = "authService.isLoggedIn" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Side nav bar </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink = "/books" routerLinkActive = "active" > Books </a>
      <a mat-list-item routerLink = "/authors" routerLinkActive = "active" > Authors</a>
      <a mat-list-item routerLink = "/posts" routerLinkActive = "active" > Posts</a>
      <a mat-list-item routerLink = "/dbposts" routerLinkActive = "active" > Posts from database</a>
      <a mat-list-item routerLink = "/docform" routerLinkActive = "active" > Classify</a>
      <a mat-list-item class="nav-link" (click)="SignOut()"> <mat-icon> exit_to_app</mat-icon> Sign Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <span> Angular Test - MichaelYe</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
